input::-webkit-input-placeholder {
  color: #ecddcc;
}
input::-moz-input-placeholder {
  color: #ecddcc;
}
input::-ms-input-placeholder {
  color: #ecddcc;
}


.c400401{
  color: #400401;
}
.cD9BC9A{
  color: #D9BC9A;
}
.c92706e{
  color: #92706e;
}
.cd9bc9a{
  color: #d9bc9a;
}
.c8c6a3f{
  color: #8c6a3f;
}
.c260101{
  color: #260101;
}